@model WorkoutTracker.Web.ViewModels.CategoryViewModel

<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="form-control" placeholder="Search" id="search">
</div>
<br />
@using (Html.BeginForm())
{
    <div class="form-inline">
        <div>
            @Html.TextBoxFor(model => model.Category.Title, null, new { @class = "form-control input-md", @placeholder = "Enter a Category", @required = true, @style = "width:90%" })
            <button class="btn btn-md btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            @Html.ValidationMessageFor(model => model.Category.Title, "", new { @class = "help-block" })
        </div>
    </div>
}
